{% extends "workshop/base.html" %}

{% block title %} Copyright{% endblock %}

<!-- We give the coordonate of adminstrator of this site-->
<!-- We give the url we use to build that site-->

{% block content %}
<header class="masthead">
	{% load static %}
	
   		<div class="container h-100">
			
		   <div class="row  align-items-center justify-content-center text-center">
			
				<div class="lg-12">
					</br>
					</br>
					<hr class="divider my-4" />
					<h2 class="text-uppercase text-white  text-center mt-0">Vous pouvez contacter le créateur et l'administrateur du  site.. <a class=" text-white" href="mailto:houche.zebra385@gmail.com">houche.zebra385@gmail.com</a></h2>
					
				</div>
				
			</div>	
		</div>
</header>


		
		

{% endblock %}