<!-- Where are we -->
{% load static %}
<section class="page-section bg-info" id="contact" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="mt-0"> Mon cabinet se situe :  </h2>
                <hr class="divider my-4" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                                
                <div> <h3> </br>8 B rue d'Altenbeken</h3></div>
                <div>  <h3>35830 BETTON</h3></div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2660.605484587736!2d-1.6652887841579627!3d48.17568435648472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480eddb1906b446b%3A0x56e6c866bd3b2bc0!2s8%20Rue%20d&#39;Altenbeken%2C%2035830%20Betton!5e0!3m2!1sfr!2sfr!4v1613755830483!5m2!1sfr!2sfr" width="300" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>        </div>
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                            
                <div> <h3> </br>Possibilités séances</h3></div>
                <div> <h3> sur Rennes</h3></div>
                <div> <h3> et à domicile</h3></div>
            </div>    
    </div>
</section>